/* Top of page*/

.logo-image {
  display: block;
  height: 100px;
  max-width: 140px;
}
header {
  min-height: 100px;
  display: inline;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
}
/* #nav-bar {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/
.nav-bar-ul {
  position: fixed;
  top: 5px;
  left: 40px;
}
.nav-li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

/* Body stylings*/

.banner-img {
  max-width: 100vw;
}

/* About us */

#sun-vines-merlot-img {
  max-width: 50vw;
  border-radius: 45px;
}
