/*Fonts from Adobe
Garamond Premier Pro Bold Display
font-family: garamond-premier-pro-display, serif;
font-weight: 700;
font-style: normal;

Garamond Premier Pro Bold Italic Display
font-family: garamond-premier-pro-display, serif;
font-weight: 700;
font-style: italic;

Garamond Premier Pro Display
font-family: garamond-premier-pro-display, serif;
font-weight: 400;
font-style: normal;

Garamond Premier Pro Italic Display
font-family: garamond-premier-pro-display, serif;
font-weight: 400;
font-style: italic;

Garamond Premier Pro Regular
font-family: garamond-premier-pro, serif;
font-weight: 400;
font-style: normal;

Garamond Premier Pro Italic
font-family: garamond-premier-pro, serif;
font-weight: 400;
font-style: italic;

Garamond Premier Pro Bold
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: normal;

Garamond Premier Pro Bold Italic
font-family: garamond-premier-pro, serif;
font-weight: 700;
font-style: italic;

Garamond Premier Pro Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 400;
font-style: normal;

Garamond Premier Pro Italic Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 400;
font-style: italic;

Garamond Premier Pro Bold Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 700;
font-style: normal;

Garamond Premier Pro Bold Italic Caption
font-family: garamond-premier-pro-caption, serif;
font-weight: 700;
font-style: italic;

Garamond Premier Pro Bold Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 700;
font-style: normal;

Garamond Premier Pro Bold Italic Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 700;
font-style: italic;

Garamond Premier Pro Italic Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 400;
font-style: italic;

Garamond Premier Pro Subhead
font-family: garamond-premier-pro-subhead, serif;
font-weight: 400;
font-style: normal;

*/
/* Top of page*/
.logo-image {
    display: block;
    height: 110px;
    max-width: 140px;
    margin-top: 17px;
}

#phone {
    font-family: garamond-premier-pro-display, serif;
    margin-right: 5vw;
}

header {
    font-family: garamond-premier-pro-display, serif;
    min-height: 100px;
    display: flex;
    /*position: fixed;*/
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    margin
}

#nav-bar {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-anchor {
    text-decoration: none;
    color: black;
}

.nav-li {
    list-style-type: none;
    display: inline-block;
    margin-top: 50px;
    margin-right: 5vw;
}

/* Body stylings*/
body {
    font-family: garamond-premier-pro-display, serif;
    margin: 0;
    /*padding-top: 85px;*/
    text-align: center;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    display: inline-block;
}

.section-header {
    text-align: center;
}

p {
    max-width: 65vw;
    display: inline-block;
    text-align: justify;
}
.section-header {
    display: block;
    text-align: center;
}

section {
    margin-bottom: 200px;
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-img {
    max-height: 800px;
    min-height: 400px;*/
    height: 40vh;
    width: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Home Page */
#pagetop-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/homepage/VinoTintoTours-El-Cielo-Tasting-Room.jpg);
    width: 100%;
    max-height: 1200px;
    min-height: 400px;
    height: 65vh;
    width: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

#pagetop-text {
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#pagetop-quote {
    display: block;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

#pagetop-contact-button {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px 22px;
    border: 2px solid white;
}

/* About us */
#about-us {
    display: block;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 30px;
}

#tagline {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 65vw;
    margin: 0px auto;
}

#sun-vines-merlot-img {
    max-width: 50vw;
    border-radius: 45px;
    margin-top: 20px;
}

/* Vineyards */
#vineyards-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/homepage/VinoTintoTours-Guadalupe-Wine-Valley.jpg);
}

#vineyards-text2 {
    display: block;
}

.gallery-container {

    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 20px 40px
    justify-content: center;
}

.vineyard-image {

}

/* Pricing */
#pricing-img {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/homepage/VinoTintoTours-Dona-Lupe-Vines.jpg);
}

/* Contact Us */
#contact-us-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/homepage/VinoTintoTours-Vines-at-Encuentro-Vineyard.jpg);
}
#advantages-list {
    max-width: 40vw;
    text-align: left;
    margin: auto;
    display: block;
}
#page-closer {
    text-align: center;
}
